<div class="marker" data-position="<%= marker.position %>" style="left: <%= marker_position_css(marker, track) %>">
  <a href="#" class="epd"><%= marker.title %></a>
  <div class="stick"></div>
</div>