<div class="songTime">
  <time class="currentTime">0:00</time>
  <div class="scrubber">
    <div class="handle"></div>
    <div class="timeline">
      <div class="loadingProgress"></div>
      <%= render :partial => "/shared/marker", :collection => track.section_markers, :locals => {:track => track} %>
    </div>
  </div>
  <time class="totalTime"><%= ms_to_MMSS track.duration %></time>
</div>