<h1 class="pageListHeader">
  Songs <%= back_link_for @songs %>
</h1>
<ul class="pageList linkItems">
<% @songs.each do |song| %>
  <li><%= link_to "<span>#{song.title}</span>".html_safe, song_path(song) %></li>
<% end %>
</ul>