<% content_for(:title) { @song.title } %>
<% content_for(:javascripts) { javascript_include_tag "songs" } %>

<h1 class="pageListHeader">
  <%= @song.title %>
  <%= back_link_for @song %>
</h1>
<ul class="pageList songs">
  <% @song.tracks.chronological.each do |track| %>
    <%= render :partial => "/shared/track", :object => track, :locals => { :list_type => :song } %>
  <% end %>
</ul>