<% content_for(:title) { "phishTracks" } %>

<h1 class="pageListHeader">PhishTracks</h1>

<div class="pageContainer">
  <h2>Years</h2>
  <ul class="yearsCircles">
  <% @years.each do |year| %>
    <%= render :partial => 'year_bubble', :locals => {:year => year} %>
  <% end %>
  </ul>

  <h2>Songs <span>( <%= link_to 'view all', songs_path %> )</span></h2>
  <div class="songs">
  <% @songs.each do |song| %>
    <%= render :partial => 'song_bubble', :locals => {:song => song} %>
  <% end %>
  </div>
</div>