<h1 class="songHeader">Harry Hood</h1>
<ul class="songDates">
  <li>
    <a href="#">
      <div class="songInfo">
        <span class="songDate">12/31/1993</span><br>
        <span class="songVenue">Worcester Centrum Centre - Worcester, MA</span>
      </div>
      <div class="songTime">
        <time class="currentTime">0:17</time>
        <time class="totalTime">3:14</time>
      </div>
      <div class="clearfix"></div>
    </a>
  </li>
  <li>
    <a href="#">
      <div class="songInfo">
        <span class="songDate">12/31/1993</span><br>
        <span class="songVenue">Worcester Centrum Centre - Worcester, MA</span>
      </div>
      <div class="songTime">
        <time class="currentTime">0:17</time>
        <time class="totalTime">3:14</time>
      </div>
      <div class="clearfix"></div>
    </a>
  </li><li>
    <a href="#">
      <div class="songInfo">
        <span class="songDate">12/31/1993</span><br>
        <span class="songVenue">Worcester Centrum Centre - Worcester, MA</span>
      </div>
      <div class="songTime">
        <time class="currentTime">0:17</time>
        <time class="totalTime">3:14</time>
      </div>
      <div class="clearfix"></div>
    </a>
  </li><li>
    <a href="#">
      <div class="songInfo">
        <span class="songDate">12/31/1993</span><br>
        <span class="songVenue">Worcester Centrum Centre - Worcester, MA</span>
      </div>
      <div class="songTime">
        <time class="currentTime">0:17</time>
        <time class="totalTime">3:14</time>
      </div>
      <div class="clearfix"></div>
    </a>
  </li><li>
    <a href="#">
      <div class="songInfo">
        <span class="songDate">12/31/1993</span><br>
        <span class="songVenue">Worcester Centrum Centre - Worcester, MA</span>
      </div>
      <div class="songTime">
        <time class="currentTime">0:17</time>
        <time class="totalTime">3:14</time>
      </div>
      <div class="clearfix"></div>
    </a>
  </li><li>
    <a href="#">
      <div class="songInfo">
        <span class="songDate">12/31/1993</span><br>
        <span class="songVenue">Worcester Centrum Centre - Worcester, MA</span>
      </div>
      <div class="songTime">
        <time class="currentTime">0:17</time>
        <time class="totalTime">3:14</time>
      </div>
      <div class="clearfix"></div>
    </a>
  </li><li>
    <a href="#">
      <div class="songInfo">
        <span class="songDate">12/31/1993</span><br>
        <span class="songVenue">Worcester Centrum Centre - Worcester, MA</span>
      </div>
      <div class="songTime">
        <time class="currentTime">0:17</time>
        <time class="totalTime">3:14</time>
      </div>
      <div class="clearfix"></div>
    </a>
  </li><li>
    <a href="#">
      <div class="songInfo">
        <span class="songDate">12/31/1993</span><br>
        <span class="songVenue">Worcester Centrum Centre - Worcester, MA</span>
      </div>
      <div class="songTime">
        <time class="currentTime">0:17</time>
        <time class="totalTime">3:14</time>
      </div>
      <div class="clearfix"></div>
    </a>
  </li><li>
    <a href="#">
      <div class="songInfo">
        <span class="songDate">12/31/1993</span><br>
        <span class="songVenue">Worcester Centrum Centre - Worcester, MA</span>
      </div>
      <div class="songTime">
        <time class="currentTime">0:17</time>
        <time class="totalTime">3:14</time>
      </div>
      <div class="clearfix"></div>
    </a>
  </li><li>
    <a href="#">
      <div class="songInfo">
        <span class="songDate">12/31/1993</span><br>
        <span class="songVenue">Worcester Centrum Centre - Worcester, MA</span>
      </div>
      <div class="songTime">
        <time class="currentTime">0:17</time>
        <time class="totalTime">3:14</time>
      </div>
      <div class="clearfix"></div>
    </a>
  </li><li>
    <a href="#">
      <div class="songInfo">
        <span class="songDate">12/31/1993</span><br>
        <span class="songVenue">Worcester Centrum Centre - Worcester, MA</span>
      </div>
      <div class="songTime">
        <time class="currentTime">0:17</time>
        <time class="totalTime">3:14</time>
      </div>
      <div class="clearfix"></div>
    </a>
  </li><li>
    <a href="#">
      <div class="songInfo">
        <span class="songDate">12/31/1993</span><br>
        <span class="songVenue">Worcester Centrum Centre - Worcester, MA</span>
      </div>
      <div class="songTime">
        <time class="currentTime">0:17</time>
        <time class="totalTime">3:14</time>
      </div>
      <div class="clearfix"></div>
    </a>
  </li>
</ul>