<li>
  <a href="#" class="epd" data-song-uri="<%= song.song_file.url %>">
    <div class="songInfo">
      <span class="songDate"><%= song.show.show_date.strftime '%-m/%-d/%Y' %></span><br>
      <span class="songVenue"><%= song.show.location %></span>
    </div>
    <div class="songTime">
      <time class="currentTime">0:00</time>
      <time class="totalTime">0:00</time>
    </div>
    <div class="clearfix"></div>
  </a>
</li>
