<h1 class="pageListHeader">
  Songs <%= back_link_for @song_collections %>
</h1>
<ul class="pageList linkItems">
<% @song_collections.each do |song| %>
  <li><%= link_to "<span>#{song.title}</span>".html_safe, song_collection_path(song) %></li>
<% end %>
</ul>