<% content_for(:title) { @song_collection.title } %>
<% content_for(:javascripts) { javascript_include_tag "songs" } %>

<h1 class="pageListHeader">
  <%= @song_collection.title %>
  <%= link_to "&#8592; Songs".html_safe, song_collections_path, :class => "back" %>
</h1>
<ul class="pageList songs">
  <% @song_collection.songs.each do |song| %>
    <%= render :partial => "/shared/song", :object => song, :locals => { :list_type => :song } %>
  <% end %>
</ul>