<div class="wrapper">
  <img src="/maps/<%= file %>">
  <svg xmlns="http://www.w3.org/2000/svg">
    <% _.each(regions, function(region) { %>
    <polygon points="<%= _.map(region.points, function(coords) { return coords.join(','); }).join('  ') %>" data-time="<%= region.time %>" />
    <% }); %>
  </svg>
</div>
