<div class="controls">
  <a class="btn prev" data-control="prev">
    <span class="arrowGrp">
      <span class="arrow"></span><span class="arrow"></span>
    </span>
  </a>
  <a class="btn playpause" data-control="togglePause" id="playBtn">
    <span class="pause"></span>
  </a>
  <a class="btn next" data-control="next">
    <span class="arrowGrp">
      <span class="arrow"></span><span class="arrow"></span>
    </span>
  </a>
</div>

<% var show = (currentTrack.collection && currentTrack.collection.show) ? currentTrack.collection.show : null; %>
<h2><%= SP.Helpers.linkTo(currentTrack.get('title'), "songs/" + currentTrack.get('slug')) %></h2>

<% if(currentTrack.get('map')) { %>
<a class="map">map</a>
<% } %>

<% if(show) { %>
  <h3><%= SP.Helpers.playerLinkToShow(show) %></h3>
<% } %>
<% var lt10MinClass = currentTrack.get('duration') < 600000 ? 'lt10Min' : '' %>
<div class="scrubber <%= lt10MinClass %>">
  <div class="loadProgress">
    <div class="handle"></div>
  </div>
</div>
<div class="time">
  <span class="current">0:00</span><span class="total"> / <%= SP.Helpers.msToMMSS(currentTrack.get('duration')) %></span>
</div>
