<a class="btnNav prev">
  <span class="vert-bar"></span>
  <span class="triangle"></span>
</a>

<h3><%= currentTrack.get('title') %></h3>
<button class="btnPlayPause">❚❚</button>

<a class="btnNav next">
  <span class="vert-bar"></span>
  <span class="triangle"></span>
</a>
