<header>
  <a href="/" class="backBtn">← Home</a>
  <h1>
    <a href='#' data-control='toggleYearList' data-bypass='true'>
      <%= year %> <small>▾</small>
    </a>
  </h1>
</header>

<ul class="pageList linkItems showsByYear">
  <% _.each(shows, function(show) { %>
    <li><a href="/shows/<%= Streamphish.Helpers.dateString(show.show_date, '%Y-%m-%d') %>">
      <span>
        <strong><%= Streamphish.Helpers.dateString(show.show_date, '%m/%d/%Y') %></strong>
        <%= show.location %>
      </span>
      <% if(show.sbd || show.remastered) { %>
        <div class="tagContainer">
      <% } %>
        <% if(show.sbd) { %>
          <span class="tag">SBD</span>
        <% } %>

        <% if(show.remastered) { %>
          <span class="tag">Remastered</span>
        <% } %>
      <% if(show.sbd || show.remastered) { %>
        </div>
      <% } %>
    </a></li>
  <% }); %>
</ul>


<div id="yearSelect">
  <ul>
    <% _.each(App.active_years, function(year) { %>
    <li>
      <a style="<%= SP.Helpers.cssComplementaryColors() %>" href="/shows/<%= year %>">
        <span><%= year %></span>
      </a>
    </li>
    <% }); %>
  </ul>
</div>

