<header>
  <a href="/" class="backBtn">← Home</a>
  <h1><%= year %></h1>
</header>

<ul class="pageList linkItems showsByYear">
  <% _.each(shows, function(show) { %>
    <li><a href="/shows/<%= Streamphish.Helpers.dateString(show.show_date, '%Y-%m-%d') %>">
      <span>
        <strong><%= Streamphish.Helpers.dateString(show.show_date, '%m/%d/%Y') %></strong>
        <%= show.location %>
      </span>
      <% if(show.sbd) { %>
        <span class="tag">SBD</span>
      <% } %>

      <% if(show.remastered) { %>
        <span class="tag">Remastered</span>
      <% } %>
    </a></li>
  <% }); %>
</ul>
