<header>
  <a href="/shows/<%= year %>" class="backBtn">← <%= year %></a>
  <h1>
    <%= Streamphish.Helpers.dateString(show_date, '%m-%d-%Y') %><span class="location"> - <%= location %>
  </h1>
  <% if(source_info) { %>
    <div class="sourceContainer">
      <a href="#" class="info mic"><i class="icon-mic"></i></a>
      <div class="invisible sourceInfo" data-arrow-pos="-15px">
        <%= source_info.replace(/\n/g, '<br>') %>
      </div>
    </div>
  <% } %>
  <a href="http://phish.net/setlists/?d=<%= show_date %>" target="_blank" class="info" data-bypass>
    p.net
  </a>

</header>

<% beforeTrackIdxs = _.map(sets, function(set) { return set.beforeTrackIdx; }); %>

<ul class="pageList songs">
  <% _.each(tracks.models, function(track, trackIdx) { %>
    <% if( (setIdx = _.indexOf(beforeTrackIdxs, trackIdx)) !== -1 ) { %>
    <li class="sectionTitle"><h2><%= sets[setIdx].title %></h2></li>
    <% } %>

    <li data-cid="<%= track.cid %>">
      <div class="songInfo">
        <div class="songTitle">
          <a data-control="song" href="/shows/<%= show_date %>/<%= track.get('slug') %>" data-bypass><%= track.get('title') %></a>
          <% if(sbd) { %>
            <span class="tag">SBD</span>
          <% } %>
          <% if(remastered) { %>
            <span class="tag">Remastered</span>
          <% } %>
        </div>
      </div>
      <span class="duration"><%= Streamphish.Util.msToMMSS(track.get('duration')) %></span>
    </li>
  <% }); %>
</ul>

<style>header div.sourceInfo:after { margin-left: -15px; }</style>