<header>
  <h1>PhishTracks</h1>
</header>

<div class="pageContainer">
  <h2>Years</h2>
  <%= Streamphish.Templates.year_bubbles({"years": years}) %>

  <h2>Songs <span>( <a href="/songs">View All</a> )</span></h2>
  <%= Streamphish.Templates.song_bubbles({"songs": songs}) %>
  <div id="bottom-msg">This site voluntarily complies with the Phish fan web site policy at <a href="http://www.phish.com/faq/web-guidelines" target="_blank">http://www.phish.com/faq/web-guidelines</a></div>
</div>

