<header>
  <a href="/" class="backBtn">← Home</a>
  <h1>Songs</h1>
</header>

<ul class="pageList linkItems">
<% _.each(data, function(song) { %>
  <li>
    <a href="/songs/<%= song.slug %>"><span><%= song.title %></span></a>
  </li>
<% }); %>
</ul>