<header>
  <a href="/songs" class="backBtn">← Songs</a>
  <h1><%= title %></h1>
</header>

<ul class="pageList songs song">
  <% _.each(tracks, function(track, idx) { %>
     <li data-track-idx="<%= idx %>" data-track-id="<%= track.id %>">
      <div class="songInfo">
        <span class="songDate">
          <a href="/shows/<%= track.show.show_date %>"><%= track.show.show_date %></a>
        </span>
        <br>
        <span class="songVenue"><%= track.show.location %></span>
      </div>
      <span class="duration"><%= Streamphish.Helpers.msToMMSS(track.duration) %></span>
    </li>
  <% }); %>
</ul>