<ul class="yearsCircles">
  <% _.each(years, function(year) { %>
    <li style="background: <%= year.bg %>; border: 1px solid <%= year.bg %>;">
      <a href="/shows/<%= year.year %>" style="color: <%= year.fg %>;">
        <span><%= year.year %></span>
      </a>
    </li>
  <% }); %>
</ul>