# This is a manifest file that'll be compiled into application.js, which will include all the files
# listed below.
# 
# Any JavaScript/Coffee file within this directory, lib/assets/javascripts, vendor/assets/javascripts,
# or vendor/assets/javascripts of plugins, if any, can be referenced here using a relative path.
# 
# It's not advisable to add code directly here, but if you do, it'll appear at the bottom of the
# the compiled file.
# 
# WARNING: THE FIRST BLANK LINE MARKS THE END OF WHAT'S TO BE PROCESSED, ANY BLANK LINE SHOULD
# GO AFTER THE REQUIRES BELOW.

//= require jquery
//= require 'soundmanager2-nodbg'
//= require underscore
//= require 'backbone-min'
//= require backbone.queryparams
//= require backbone/streamphish
//= require util
//= require fast_touch_links
//= require please.min
# global namespace for stuff
window.App = {}

$ ->
  App.router = new Streamphish.Routers.AppRouter
  App.player = new Streamphish.Models.Player
  App.player_view = new Streamphish.Views.Player(model: App.player)
  App.config = isMobile: (document.width <= 320)
  App.active_years = <%= Streamphish::Application.config.phish_active_years.to_json.html_safe %>;



  # Setup link hijacking to go through Backbone
  if App.config.isMobile
    App.FTL = new Streamphish.FastTouchLinks(document.body)
  else
    $(document).on 'click', 'a:not([data-bypass])', (e) ->
      href = prop: $(this).prop("href"), attr: $(this).attr("href")
      root = "#{location.protocol}//#{location.host}"

      if href.prop and (href.prop.slice(0, root.length) == root)
        e.preventDefault()
        App.player_view.closeMap()
        App.router.navigate href.attr, true

  Backbone.history.start(pushState: true)

