/*************************

  Years dropdown in header

 ************************/
$yearSelectWidth: 300px;
#yearSelect { 
  display: none; width: $yearSelectWidth; position: fixed; top: 41px; left: 50%; margin-left: -($yearSelectWidth / 2); 
  ul { 
    margin: 0; padding: 0; list-style-type: none;
    li { 
      text-align: center; float: left; height: 50px; width: 50px; margin-right: 10px; margin-bottom: 10px; 
      a { 
        height: 100%; width: 100%; display: inline-block; background: #aaa; border-radius: 50px; text-decoration: none; color: #ddd; padding: 5px; 
        span { display: inline-block; margin-top: 15px; font-size: 14px; }
      }
    }
  }
}