@import "variables";
@import "application/normalize";
@import "application/helpers";

@include h5bp-normalize;
@import "application/chromeframe";

@import "phishtracks-icons";
@import url(https://fonts.googleapis.com/css?family=Economica:400,700);

.hide { display: none; }
.invisible { visibility: hidden; }

body { 
  background: $songBg; 
  &.noTextSelect { -webkit-touch-callout: none; -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; }
  &.noScroll { overflow: hidden }
  &.hidePlayer {
    #player { bottom: -70px; }
    #main { padding-bottom: 0px; }
  }
}

div.pageContainer { margin-top: 60px; position: relative; }
#main, #player { -webkit-transition: all .3s ease; -moz-transition: all .3s ease; -ms-transition: all .3s ease; -o-transition: all .3s ease; transition: all .3s ease; }
#main { padding-bottom: 69px; margin-top: 44px; }
#dim { display: none; height: 100%; width: 100%; position: fixed; left: 0; top: 0; z-index: 6000; background-color: #999; filter: alpha(opacity=20); -khtml-opacity: 0.20; -moz-opacity: 0.20; opacity: 0.20; }

@import "header";
@import "years_dropdown";
@import "phishmaps";
@import "page_list";
@import "player";
@import "application/media_queries";
