@font-face {
  font-family: 'Economica';
  src: url('Economica-Bold.eot'); /* IE9 Compat Modes */
  src: url('Economica-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('Economica-Bold.woff') format('woff'), /* Modern Browsers */
       url('Economica-Bold.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('Economica-Bold.svg#d9532a473398f70deb182a9f6b5ed782') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  700;
}

@font-face {
  font-family: 'Economica';
  src: url('Economica-Regular.eot'); /* IE9 Compat Modes */
  src: url('Economica-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('Economica-Regular.woff') format('woff'), /* Modern Browsers */
       url('Economica-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('Economica-Regular.svg#1b8abc1602823d353989443dbeda359c') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  400;
}

