.pageList.showsByYear li { height: 70px; overflow-x: hidden; white-space: nowrap; }
.pageList.showsByYear li a span { top: 16px; font-size: 18px; letter-spacing: -1.5px; }
.pageList.showsByYear li a span strong { font-size: 27px; letter-spacing: 0em;}

.tag {
background: rgb(60,156,123); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(60,156,123,1) 0%, rgba(74,155,127,1) 56%, rgba(82,155,129,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(60,156,123,1)), color-stop(56%,rgba(74,155,127,1)), color-stop(100%,rgba(82,155,129,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(60,156,123,1) 0%,rgba(74,155,127,1) 56%,rgba(82,155,129,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(60,156,123,1) 0%,rgba(74,155,127,1) 56%,rgba(82,155,129,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(60,156,123,1) 0%,rgba(74,155,127,1) 56%,rgba(82,155,129,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(60,156,123,1) 0%,rgba(74,155,127,1) 56%,rgba(82,155,129,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3c9c7b', endColorstr='#529b81',GradientType=0 ); /* IE6-9 */

margin-left: 3px;
font-size: 10px!important;
letter-spacing: 0.1em!important;
text-transform: uppercase;
color: rgba(255, 255, 255, 0.64);
padding: 4px;
border-radius: 5px;
position: relative;
top: 11px!important;
}

.songInfo .tag { top: -4px!important; }
.pageList .tagContainer { display: inline-block; }
@media only screen and (max-device-width : 320px) {
  .pageList.showsByYear li { height: 57px; overflow: hidden; }
  .pageList.showsByYear li a span { top: 18px; font-size: 12px; letter-spacing: -1.3px; display: inline-block; max-width: 285px; overflow: hidden; }
  .pageList.showsByYear li a span strong { font-size: 16px; letter-spacing: 0em; }
  .pageList.showsByYear .tagContainer { position: absolute; right: 10px; top: 17px; background: #0f2340; padding-left: 4px; }
  .pageList.showsByYear .tag { top: 0!important; }

  .tag { display: inline-block; overflow-x: hidden; width: 7px; letter-spacing: 0.5em!important; padding: 2px 4px; font-weight: bold; margin-left: 0; }
}

