h2 { color: #fff; margin: 0 0 0 13px; padding: 0; font-family: 'Jacques Francois', serif; font-size: 28px;}
h2 span { font-size: 15px; }
h2 span a { color: #fff!important; }
ul.yearsCircles { margin: 0 0 40px 0; padding: 0; list-style-type: none; position: relative; left: 10px; height: 100px; }
ul.yearsCircles li { width: 75px; height: 75px; border-radius: 50%; background: #fff; text-align: center; 
  float: left; position: absolute; left: 0; top: 0; 
  -webkit-transition-property: left, top, height, width, background, border;
  -webkit-transition-duration: 1.5s, 1.5s, 0.175s, 0.175s, 0.175s, 0.175s;
}
ul.yearsCircles li a { display: block; height: 100%; width: 100%; border-radius: 50%; text-decoration: none; position: relative; }
ul.yearsCircles li a:hover { text-decoration: none; }
ul.yearsCircles li a span { position: relative; top: 19px; font-size: 20px; font-family: Georgia; 
  -webkit-transition-property: font-size, top;  
  -webkit-transition-duration: 0.175s, 0.175s; 
}

ul.yearsCircles li.hover { height: 100px; width: 100px; z-index: 5000; }
ul.yearsCircles li.hover a { background: inherit; z-index: 5000; height: 100%; width: 100%; }
ul.yearsCircles li.hover a span { font-size: 25px; top: 29px; }

ul.yearsCircles li.empty { background: transparent!important; }

div.songs { position: relative; margin: 15px 0 0 10px; }
div.songs a { 
  border-radius: 50%; 
  text-align: center; 
  display: block; 
  text-decoration: none; 
  color: #fff; 
  position: absolute; 
  height: 120px; 
  width: 120px; 
  font-family: 'Allan', cursive;
  font-size: 21px;
  -webkit-transition-property: left, top;
  -webkit-transition-duration: 1.5s, 1.5s;
}
div.songs a.hover { z-index: 5000; text-decoration: none; }
div.songs a span { position: relative; }

.pageList.showsByYear li { height: 70px; }
.pageList.showsByYear li a span { top: 16px; font-size: 18px; letter-spacing: -1.5px; }
.pageList.showsByYear li a span strong { font-size: 27px; letter-spacing: 0em;}

.tag {
background: rgb(60,156,123); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(60,156,123,1) 0%, rgba(74,155,127,1) 56%, rgba(82,155,129,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(60,156,123,1)), color-stop(56%,rgba(74,155,127,1)), color-stop(100%,rgba(82,155,129,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(60,156,123,1) 0%,rgba(74,155,127,1) 56%,rgba(82,155,129,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(60,156,123,1) 0%,rgba(74,155,127,1) 56%,rgba(82,155,129,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(60,156,123,1) 0%,rgba(74,155,127,1) 56%,rgba(82,155,129,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(60,156,123,1) 0%,rgba(74,155,127,1) 56%,rgba(82,155,129,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3c9c7b', endColorstr='#529b81',GradientType=0 ); /* IE6-9 */

margin-left: 3px;
font-size: 10px!important;
letter-spacing: 0.1em!important;
text-transform: uppercase;
color: rgba(255, 255, 255, 0.64);
padding: 4px;
border-radius: 5px;
position: relative;
top: 11px!important;
}

.special_tag {
background: rgb(156,60,60);
margin-left: 3px;
font-size: 10px!important;
letter-spacing: 0.1em!important;
text-transform: uppercase;
color: rgba(255, 255, 255, 0.64);
padding: 4px;
border-radius: 5px;
position: relative;
top: 11px!important;
}

.songInfo .tag { top: -4px!important; margin-left: 3px;}

@media only screen and (max-device-width : 320px) {
  .pageList.showsByYear li { height: 50px; overflow: hidden; }
  .pageList.showsByYear li a span { top: 8px; font-size: 12px; letter-spacing: -1.5px; }
  .pageList.showsByYear li a span strong { font-size: 14px; letter-spacing: 0em; }
}