h2 { color: #fff; margin: 0 0 0 13px; padding: 0; font-family: 'Jacques Francois', serif; font-size: 28px;}

ul.yearsCircles { margin: 0 0 40px 0; padding: 0; list-style-type: none; position: relative; left: 10px; height: 100px; }
ul.yearsCircles li { width: 75px; height: 75px; border-radius: 50%; background: #fff; text-align: center; 
  float: left; position: absolute; left: 0; top: 0; 
  -webkit-transition-property: left, top, height, width, background, border;
  -webkit-transition-duration: 1.5s, 1.5s, 0.175s, 0.175s, 0.175s, 0.175s;
}
ul.yearsCircles li a { display: block; height: 100%; width: 100%; border-radius: 50%; text-decoration: none; position: relative; }
ul.yearsCircles li a:hover { text-decoration: none; }
ul.yearsCircles li a span { position: relative; top: 19px; font-size: 20px; font-family: Georgia; 
  -webkit-transition-property: font-size, top;  
  -webkit-transition-duration: 0.175s, 0.175s; 
}

ul.yearsCircles li.hover { height: 100px; width: 100px; z-index: 5000; }
ul.yearsCircles li.hover a { background: inherit; z-index: 5000; height: 100%; width: 100%; }
ul.yearsCircles li.hover a span { font-size: 25px; top: 29px; }

ul.yearsCircles li.empty { background: transparent!important; }

div.songs { position: relative; margin: 12px 0 0 10px; }
div.songs a { 
  border-radius: 50%; 
  text-align: center; 
  display: block; 
  text-decoration: none; 
  color: #fff; 
  position: absolute; 
  height: 120px; 
  width: 120px; 
  font-family: 'Allan', cursive;
  font-size: 21px;
  -webkit-transition-property: left, top;
  -webkit-transition-duration: 1.5s, 1.5s;
}
div.songs a.hover { z-index: 5000; text-decoration: none; }
div.songs a span { position: relative; }