.sign-in-well { width: 300px; margin: 112px auto; background: lighten(#0f2340, 10%); border-radius: 10px; padding: 5px 10px; color: #fff; }
.sign-in-well h2 { font-family: 'Economica', cursive; text-align: center; }
.sign-in-well input[type=email], .sign-in-well input[type=password] { margin-bottom: 15px; }