<h1 class="pageListHeader">Shows</h1>
<!--
<div class="yearsContainer">
  <%# years_2 = @years.slice! (@years.length / 2.0).ceil..-1 %>
  <%# [@years, years_2].each do |years| %>
    <ul class="years">
    <%# years.each do |year| %>
      <li><%#= link_to year, '#' %></li>
    <%# end %>
    </ul>
  <%# end %>
</div>
-->


<ul class="yearsCircles">
<% @years.each_with_index do |year, i| %>
  <% bg, fg = random_bg_and_text_colors %>
  <li style="background: <%= bg %>" <%= lighter_hover_inline_js(bg) %>>
  <%= link_to "<span>#{year}</span>".html_safe, shows_path(:year => year), :style => "color: #{fg};" %>
  </li>
<% end %>
</ul>

<% content_for :javascripts do %>
  <%= javascript_include_tag "circle_event_manager" %>
  <script type="text/javascript">
  $(function() {

    var $circles = $('ul.yearsCircles li')
      , leftAccum = 0;

    $circles

      .find('a')
        .circlemouse({
          onMouseEnter: function(el) {
            el.parent().addClass('hover');
          },
          onMouseLeave: function(el) {
            el.parent().removeClass('hover');
          },
        })
      .end()

      .each(function(idx, el) {
        $(el)
          .css('left', leftAccum);
          leftAccum = ((idx + 1) / ($circles.length + 1)) * $(window).width();
      });
  });
  </script>
<% end %>