<% content_for(:title) { @show.to_s } %>
<% content_for(:javascripts) { javascript_include_tag "songs" } %>

<h1 class="pageListHeader">
  <%= @show %>
  <%= back_link_for(@show) %>
</h1>
<ul class="pageList songs">
  <% @show.songs.order(:position).each do |song| %>
    <%= render :partial => "shared/song", :object => song, :locals => { :list_type => :show } %>
  <% end %>
</ul>