<% content_for(:title) { @show.to_page_title_s } %>
<% content_for(:javascripts) { javascript_include_tag "songs" } %>

<h1 class="pageListHeader">
  <%= @show.to_page_title_s %>
  <%= link_to "&#8592; #{year = @show.show_date.year}".html_safe, shows_path(:year => year), :class => "back" %>
</h1>
<ul class="pageList songs">
  <% @show.songs.order(:position).each do |song| %>
    <%= render :partial => "shared/song", :object => song, :locals => { :list_type => :show } %>
  <% end %>
</ul>