/**************

 Media Queries

 *************/
@media only #{$galaxy-s3-down} {
  body { 
    -webkit-tap-highlight-color: rgba(0,0,0,0); 
    &.hidePlayer #player { display: none; }
  }
  header { 
    height: 42px; 
    h1 { max-width: 228px; }
    .location, .sourceContainer { display: none; }
    a {
      &.backBtn { padding-top: 0px; font-size: 35px; overflow-x: hidden; white-space: nowrap; vertical-align: top; width: 22px; margin-top: -2px; padding-left: 11px; }
      &.info { display: none; }
      &.showNav { display: inline-block; }
    }
  }
  #main { padding-bottom: 65px; margin-top: 42px; }

  .pageList {
    li {
      height: 40px; font-size: 16px;
      &:hover { background: inherit; }
      &.sectionTitle { 
        height: 18px!important; padding-top: 2px;
        &:first-child { padding-top: 3px; }
        h2 {  font-size: 14px; }
      }
    }
    
    &.linkItems li {
      height: 55px;
      a span { top: 17px; }
    }
    &.showsByYear {
      li { 
        height: 55px!important; overflow: hidden; 
        a span { 
          top: 18px; font-size: 12px; letter-spacing: -1.3px; display: inline-block; max-width: 285px; overflow: hidden; 
          strong { font-size: 16px; letter-spacing: 0em; }
        }
      }
      .tagContainer { position: absolute; right: 10px; top: 17px; background: #0f2340; padding-left: 4px; }
      .tag { top: 0!important; }
    }

    .tag { display: inline-block; overflow-x: hidden; width: 7px; letter-spacing: 0.5em!important; padding: 2px 4px; font-weight: bold; margin-left: 0; }
    .songInfo { max-width: 223px; overflow-x: hidden; white-space: nowrap; }
    &.songs {
      li {
        height: 19px!important;
        .songTitle { margin-top: 0; }
        .duration, .songInfo { margin-top: -1px; }
      }

      &.song .songInfo { position: absolute; top: 6px; left: 18px; }
      .songInfo {
        .songDate { font-size: 16px; font-weight: bold; position: relative; top: 5px;}
        .songVenue { font-size: 12px; letter-spacing: -1.5px; display: inline-block; }
      }
    }

    .songTitle { font-size: 16px; display: inline-block; margin-top: 4px; }
    .duration { font-size: 18px; }
    .songTime time { display: none!important; }
  }

  #player { 
    height: 46px; 
    .controls { margin-top: 0; }
    .time { top: 12px; }

    h2, h3 { position: absolute; overflow: hidden; white-space: nowrap; }
    h2 { top: 8px; max-width: 198px; font-size: 22px; }
    h3 { top: 28px; left: 109px; max-width: 230px; font-size: 16px; }

    a.btn.prev, .scrubber, .time .total { display: none; }
  }

  
}

@media only #{$iphone5-down} {
  #player {
    h2 { max-width: 154px; }
    h3 { max-width: 190px; }
  }
}